h1,h2,h3 {
  text-align: center;
}

.topnav {
  background-color: greenyellow;
  overflow: auto;
  width: 100%;
}


/*links inside navbar*/
.topnav a {
  float: left;
  padding: 10px;
  font-size: 20px;
  width: 17%;
  text-align: center;
}

/*Hover link*/
.topnav a:hover {
  background-color: olivedrab;
  color: black;

}

.content {
  background-color: greenyellow;
  border-style: solid;
  border-color: olivedrab;
  float: left;
  width: 60%;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-stretch: wider;

}

html {
  background-color: rgb(195, 199, 189);
}

h1, h2, h3 {
  font-family: 'Franklin Gothic Medium', cursive;
  color: black;
}

.header {
  display: block;
  padding: 5px;
}

.allhead {
  background-color: olivedrab;
  padding: 1%;
}

.middlesection {
  display: flex;

}
.photos,.content {
display: inline;
}

.photos {
  background-color: greenyellow;
  border-color: olivedrab;
  border: 1%;
  border-style: solid;
  width: 40%;
  font-size: larger;
}

.footer {
  background-color: olivedrab;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5%
  ;
  font-size: x-large;
}

.navbar a:hover {
  background-color: olive;
}

.navbar a.active {
  background-color: olive;
}

.column {
  flex: 50%;
}

img {
  width: 100px;
  display: grid;
  flex-wrap: wrap;
}