h1,h2,h3 {
  text-align: center;
}

.topnav {
  background-color: greenyellow;
  overflow: auto;
  width: 100%;
}


/*links inside navbar*/
.topnav a {
  color: black;
  text-decoration: none;
  float: left;
  padding: 18px;
  font-size: 25px;
  width: 18%;
  text-align: center;
}

/*Hover link*/
.topnav a:hover {
  background-color: olivedrab;
  color: black;

}

.content {
  background-color: greenyellow;
  border-style: solid;
  border-color: olivedrab;
  float: left;
  width: 60%;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-stretch: wider;

}

html {
  background-color: rgb(195, 199, 189);
}

h1, h2, h3 {
  font-family: 'Franklin Gothic Medium', cursive;
  color: black;
}



.header {
  display: inline-block;
  padding: 5px;
  margin-right: 400px;
  margin-left: 800px;
}

.dove {
  display: inline-block;
  vertical-align: top;
}

.allhead {
  background-color: olivedrab;
  padding: 1%;
}

.middlesection {
  display: flex;

}
.photos,.content {
display: inline;
}

.photos {
  background-color: greenyellow;
  border-color: olivedrab;
  border: 1%;
  border-style: solid;
  width: 40%;
  font-size: larger;
}


.footer {
  background-color: olivedrab;
  position: absolute;
  bottom: 02;
  width: 89%;
  padding: 5%;
  font-size: x-large;
  
}

.navbar a:hover {
  background-color: olive;
}

.navbar a.active {
  background-color: olive;
}

.column {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 10vw);
  grid-template-rows: repeat(2, 10vw);
  grid-gap: 2px;
}



img {
  width: 200px;
  display: grid;
  flex-wrap: wrap;
}

.goofed {
  width: 4s; height: 2s;
}

.goofed:hover {
  width: 500px; height: 300px;
}

table,th,tr {
  border: solid;
  border-width: 1px;

}


.video {
  display: inline-block;
  margin-right: 200px;
}

.table {
  display: inline-block;
  vertical-align: top;
}

